---
layout: default-standard

formprocessor: "https://mathcs.ursinus.edu:8085/"
enctype: "application/x-www-form-urlencoded"
facultyemail: "wmongan@ursinus.edu"

formprocessordirections: "Clicking Run below will check your work and, if it passes, will submit your work automatically. <strong>You must be connected to the VPN for submission to be successful!  You will receive a copy of your code via e-mail, so you'll know that it was submitted if you receive that e-mail!</strong>  VPN access requires Multi-Factor Authentication, which sends you a code when you log into the network.  Instructions on configuring these for your account can be found <a href=\"https://www.ursinus.edu/offices/information-technology/technology-support/hardware-and-software-help/remote-connections-and-vpn/\">here</a>."

submitformlinkdirections: "Clicking Run below will check your work and, if it passes, make a page appear above that you can use to submit your work or with further instructions."

mynetid: wmongan
---

<script type="text/javascript" src="{{site.baseurl}}/assets/js/processing.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

<style>
.image_off, #home:hover .image_on{
   display:none
}
.image_on, #home:hover .image_off{
   display:block
}
{% for file in page.files %}
{% if file.ismain == false %}
#{{ file.name }}Editor {
    {% if file.isvisible == true %}
    position: relative;
    width: 700px;
    height: 250px;
    {% else %}
    position: fixed;
    bottom: 10px;
    visibility: hidden
    {% endif %}
}
{% else %}
#mainEditor {
    {% if file.isvisible == true %}
    position: relative;
    width: 700px;
    height: 100px;
    {% else %}
    position: fixed;
    bottom: 10px;
    visibility: hidden
    {% endif %}
}
{% endif %}
{% endfor %}

#compilerText {
    position: relative;
    width: 700px;
    height: 100px;
}

#feedbackText {
    position: relative;
    width: 700px;
    height: 100px;
}
</style>

<script src="{{site.baseurl}}/assets/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/modules-common.js" type="text/javascript" charset="utf-8"></script>
{% if page.language == "cpp" %}
<script src = "{{site.baseurl}}/assets/js/cpp/process-manager.js"></script>
<script src = "{{site.baseurl}}/assets/js/cpp/runtime.js"></script>
<script src = "{{site.baseurl}}/assets/js/cpp/wasm-tools.js"></script>
{% endif %}
{% if page.language == "sql" %}
<script src="{{site.baseurl}}/assets/js/sql.js/sql.js"></script>
{% endif %}
{% if page.language == "python" %}
<script type="text/javascript" src="{{site.baseurl}}/assets/js/brython.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/brython_stdlib.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('Page loaded.  Initializing brython.');
    brython(1);
});
</script>
{% endif %}

<div id="main" role="main">
  <div class="archive">    
    <h1 class="page__title">{{ page.title }}{% if page.info.points %} ({{page.info.points}} Points){% endif %}</h1>
        Developed by <a href="https://www.ursinus.edu/live/profiles/4502-christopher-tralie">Professor Tralie</a> and <a href="https://www.ursinus.edu/live/profiles/5313-william-mongan">Professor Mongan</a>.

        {% if page.info.prev or page.info.next %}
        <p>
        {% if page.info.prev %}
        <button onclick="window.location.href = '{{ page.info.prev }} ';"> &lt--- Previous</button>
        {% endif %}
        {% if page.info.next %}
        <button onclick="window.location.href = '{{ page.info.next }}';">Next ---&gt</button>
        {% endif %}
        </p>
        <HR>
        {% endif %}
        
        {% if page.info.goals %}
        <h1>Exercise Goals</h1>
        The goals of this exercise are:
        <ol>
        {% for goal in page.info.goals %}
        <li>{{goal}}</li>
        {% endfor %}
        </ol>
        {% endif %}
        
        {% if page.info.instructions %}
        {{ page.info.instructions }}
        {% endif %}
        
        <div id="correctArea"></div>
        
        <p>
        <strong>Enter your Ursinus netid before clicking run.  This is <u>not</u> your ID number or your email.  For example, my netid is <code>{{layout.mynetid}}</code> (non Ursinus students can simply enter their name to get this to run, but they won't get an e-mail record or any form of credit).</strong> 
        </p>
        
        <table>
            <tr>
                <td>
                    Netid
                </td>
                <td>
                    <input type="text" id="studentnetid" name="studentnetid" onchange="if(document.getElementById('studentnetid').value.length > 0) document.getElementById('runbutton').disabled = false; else document.getElementById('runbutton').disabled = true;">
                </td>
            </tr>
        </table>
        {% if layout.formprocessor and layout.formprocessor != false %}
        {{ layout.formprocessordirections }}<br>
        {% endif %}
        {% if page.processor.submitformlink and page.processor.submitformlink != false %}
        {{ layout.submitformlinkdirections }}<br>
        {% endif %}
        
        {%if page.language == "cpp" %}<button type = "button" onclick = "compile()" id="compilebutton">Compile</button>&nbsp;{% endif %}<button type = "button" onclick = "if(document.getElementById('studentnetid').value.length > 0) runCode(); else correctArea.innerHTML = '<h3><font color = #AA0000>Please enter your netid first!</font></h3>';" id="runbutton" disabled>▶ Run</button>&nbsp;<button onclick="saveCode()">Save Work</button>&nbsp;<button onclick="loadCode()">Load Saved Work</button>&nbsp;<button onclick="resetCode()">Clear Saved Work</button>&nbsp;<button onclick="downloadCode()">Download Code</button>
        </p>
        
        <!-- Must name main file "main" and the div tag here/css/processing code below is hardcoded to mainEditor -->
        {% for file in page.files %}
        {% if file.isvisible == true %}
        <h3>{{ file.filename }}</h3>
        {% endif %}
        
        {% if file.ismain == true %}<div id="mainEditor">{% else %}<div id="{{ file.name }}Editor">{% endif %}{{ file.code | strip }}</div>
        {% endfor %}
        
        {% if page.language == "cpp" %}
        <h3>Compiler Feedback</h3>
        <div id="compilerText"></div>       
        {% endif %}
        <h3>Program Output</h3>
        <div id="feedbackText"></div>

        <canvas id="pscanvas" height="20px"></canvas>


        {% if page.language == "python" %}
        <!-- Python script runner -->
        <script type="text/python">
            from browser import document as doc, window
            import tb as traceback
            import sys

            def get_formatted(*args, **kwargs):
                """
                My imitation of Python 3's print() function, so I can
                return the result as a string
                """
                sep = ' '
                end = '\n'
                if 'sep' in kwargs:
                    sep = kwargs['sep']
                if 'end' in kwargs:
                    end = kwargs['end']
                ret = ''
                for i, arg in enumerate(args):
                    ret += "%s"%arg
                    if i < len(args) - 1:
                        ret += sep
                return ret + end

            def run_python_code(code):
                result = ""
                try:
                    window['python_code_result'] = ''
                    code = code.replace("print(", "window['python_code_result'] += get_formatted(")
                    exec(code)
                    result = window['python_code_result']
                except Exception as exc:
                    # Formatting exception
                    result = traceback.format_exc()
                return result
            
            window.run_python_code = run_python_code
        </script>
        {% endif %}

        <script>
        let canvas = document.getElementById("pscanvas");
        let correctArea = document.getElementById("correctArea");
        let correctlyAnswered = false;
        let numAttempts = 0;

        var feedbackString = '';

        var editors = new Array();

        {% for file in page.files %}
        {% if file.ismain == true %}
        let mainEditor = ace.edit("mainEditor");
        mainEditor.setFontSize(16);
        {% if page.language == "cpp" %}
        mainEditor.session.setMode("ace/mode/c_cpp");
        {% elsif page.language == "python" %}
        mainEditor.session.setMode("ace/mode/python");
        {% elsif page.language == "sql" %}
        mainEditor.session.setMode("ace/mode/sql");
        {% else %} <!-- Java -->
        mainEditor.session.setMode("ace/mode/java");
        {% endif %}        
        {% if file.isreadonly == true %}
        mainEditor.setReadOnly(true);            
        {% else %}
        mainEditor.setReadOnly(false);            
        {% endif %}
        {% else %}
        let {{ file.name }}Editor = ace.edit("{{ file.name }}Editor");
        {{ file.name }}Editor.setFontSize(16);
        {% if page.language == "cpp" %}
        {{ file.name }}Editor.session.setMode("ace/mode/c_cpp");
        {% elsif page.language == "python" %}
        {{ file.name }}Editor.session.setMode("ace/mode/python");
        {% elsif page.language == "sql" %}
        {{ file.name }}Editor.session.setMode("ace/mode/sql");
        {% else %} <!-- Java -->
        {{ file.name }}Editor.session.setMode("ace/mode/java");
        {% endif %}
        {% if file.isreadonly == true %}
        {{ file.name }}Editor.setReadOnly(true);            
        {% else %}
        {{ file.name }}Editor.setReadOnly(false);            
        {% endif %} 
        editors.push({{ file.name }}Editor);
        {% endif %}
        {% endfor %}
        
        {% if page.language == "cpp" %}
        let compiler = ace.edit("compilerText");
        compiler.setFontSize(16);
        compiler.renderer.setShowGutter(false);
        {% endif %}

        let feedback = ace.edit("feedbackText");
        feedback.setFontSize(16);
        feedback.renderer.setShowGutter(false);

        <!-- https://stackoverflow.com/questions/7542586/new-formdata-application-x-www-form-urlencoded -->
        function urlencodeFormData(fd){
            var s = '';
            function encode(s){ return encodeURIComponent(s).replace(/%20/g,'+'); }
            for(var pair of fd.entries()){
                if(typeof pair[1]=='string'){
                    s += (s?'&':'') + encode(pair[0])+'='+encode(pair[1]);
                }
            }
            return s;
        }
        
        /** 
          * Save code to the local browser
          */
        function saveCode() {
            for (var i in editors) {
                var code = editors[i].getValue();
                localStorage.setItem('{{ page.title | md5 }}_code' + i.toString(), code);
            }
        }
        
        /**
          * Load code from the local browser storage, if any,
          * to continue a student's progress.
          */ 
        function loadCode() {
            for (var i in editors) {
                var code = localStorage.getItem('{{ page.title | md5 }}_code' + i.toString());
                if(code) {
                    editors[i].setValue(code);
                }
            }
        }
        
        /**
          * Clear any saved code so the student can refresh to the defaults.
          */         
        function resetCode() {
            for (var i in editors) {
                localStorage.removeItem('{{ page.title | md5 }}_code' + i.toString());
            }
            
            // alert("Refresh the page to reset the code to the default.");
        }   

        //setInterval(saveCode, 10000); // save every N seconds
        //loadCode(); // automatically load the code    

        /**
          * Download the code locally.
          */  
        function downloadCode() {
            var code = '';
            
            for (var i in editors) {
                code += editors[i].getValue();
                code += "\n\n";
            }        

            var filename = 'download.txt'
            var blob = new Blob([code], { type: 'text/plain' });
            var url = window.URL.createObjectURL(blob);
            
            var downloadLink = document.createElement("a");
            downloadLink.href = url;
            downloadLink.download = filename;
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
            window.URL.revokeObjectURL(url);            
        }
        
        function checkAnswer() {
            numAttempts++;
            {{ page.processor.feedbackprocess | strip }}
            if ({{ page.processor.correctcheck | strip}}) {
                correctlyAnswered = true;
                correctArea.innerHTML = "<h3><font color = #00AA00>{{ page.processor.correctfeedback | strip}}</font></h3>";
                <!-- Setting a page.processor.submitformlink in the markdown will pop up an iframe with a page of your choice -->
                {% if page.processor.submitformlink and page.processor.submitformlink != false %}
                correctArea.innerHTML += `
                <iframe src = "{{ page.processor.submitformlink | strip }}" width=800 height=500>
                `;
                {% endif %}
                
                postCode(true, false);
            }
            {% if page.processor.incorrectchecks %}
            {% for check in page.processor.incorrectchecks %}
            else if ({{ check.incorrectcheck | strip}}) {
                correctArea.innerHTML = "<h3><font color = red>{{ check.feedback | strip }}</font></h3>";
            }
            {% endfor %}
            {% endif %}
            else {
                correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
            }

            {% if page.canvashalftries %}
            if (!correctlyAnswered && numAttempts == {{ page.canvashalftries }}) {
                postCode(false, true);
            }
            {% endif %}
        }        

        /**
         * Send code to the server with a POST command
         * @param {boolean} vpnwarn Whether to warn about connecting to a vpn
         * @param {boolean} halfcredit Whether this is a half credit submission
         */
        function postCode(vpnwarn, halfcredit) {
            <!-- Setting a layout.formprocessor will send a POST request to a form processor -->
            {% if layout.formprocessor and layout.formprocessor != false %}
            submitcode = '';
            
            for (var i in editors) {
                submitcode += editors[i].getValue();
                submitcode += "\n\n";
            }
            
            var xhttp = new XMLHttpRequest();
            xhttp.onerror = function(e){
                if (vpnwarn) {
                    alert("Unable to submit and to post your grade.  Please try to submit again while connected to the campus network or the VPN!  If you believe you are connected, please copy your code into a text file as a backup for now, and contact your instructor.");
                }
            };

            xhttp.open("POST", "{{ layout.formprocessor | strip }}", true)
            xhttp.setRequestHeader("Content-type", "{{ layout.enctype | strip }}");
            
            var formdata = new FormData();
            formdata.append("facultyemail", "{{ layout.facultyemail | strip }}"); // required
            formdata.append("magic", "ursinus"); // required
            formdata.append("title", "{{ page.title | strip }}"); // required
            formdata.append("studentnetid", document.getElementById("studentnetid").value); //required
            formdata.append("code", submitcode);
            {% if page.canvasasmtid %}
            formdata.append("canvasasmtid", "{{page.canvasasmtid}}");
            {% endif %}
            {% if page.canvaspoints %}
            formdata.append("canvaspoints", "{{page.canvaspoints}}");
            {% endif %}
            if (halfcredit) {
                formdata.append("canvashalfcredit", true);
            }
            
            xhttp.send(urlencodeFormData(formdata));                    
            {% endif %}
        }
        
        {% if page.language == "sql" %}
        async function doSql(codeString, mainString) {
            feedbackString = "";
            let code = mainString + '\n';
            code += codeString + '\n';
            console.log(code);
            
            <!-- https://sql.js.org/#/?id=upgrading-from-0x-to-1x -->
            config = {
              locateFile: filename => "{{site.baseurl}}/assets/js/sql.js/sql.js"
            }
            
            // The `initSqlJs` function is globally provided by all of the main dist files if loaded in the browser.
            // We must specify this locateFile function if we are loading a wasm file from anywhere other than the current html page's folder.
            await initSqlJs(config).then(function(SQL){
              // Create the database
              const db = new SQL.Database();

              // each statement is semicolon delimited
              stmts = code.split(';');
              
              // prepare each potentially multiline statement
              for(var i = 0; i < stmts.length; i++) {
                lines = stmts[i].split('\n');
                
                stmt = '';
                for(var j = 0; j < lines.length; j++) {
                    if(!(lines[j].trim().startsWith("--")) && lines[j].trim().length >= 1) { // ignore comments and blank lines
                        stmt += lines[j] + ' '; // replace newlines with a space
                    }
                }
                
                // replace the semicolon at the end
                stmt += ';';
                
                if(!(stmt.trim().startsWith("--")) && stmt.trim().length >= 1) {
                    console.log("Executing: " + stmt);
                    const res = db.exec(stmt);
                    const resStr = JSON.stringify(res);
                    feedbackString += resStr + '\n';
                }
              }
              
              feedback.setValue(feedbackString);
            });
            
            return feedbackString;
        }        
        {% endif %}
        
        {% if page.language == "cpp" %}
        let workerPath = "{{site.baseurl}}/assets/js/cpp/scripts/";
        class ProcessUI {
            constructor(name, feedbackElem) {
                this.text = "";
                this.name = name;
                this.feedbackElem = feedbackElem;
                this.state = '';
                this.wasReady = false;
                this.timesRun = 0;

                this.process = new ProcessManager(name, name, workerPath)
                this.process.setStatus = this.setStatus.bind(this);
                this.process.print = this.print.bind(this);
                this.process.printErr = this.printErr.bind(this);
            }

            resetText() {
                this.text = "";
            }

            reboot() {
                this.process.terminate();
                this.process.start();
            }

            setStatus(state, status, doPrint) {
                if (doPrint === undefined) {
                    doPrint = true;
                }
                if (doPrint) {
                    this.feedbackElem.setValue(state + ' ', status);
                }
                this.state = state;
            };

            print({ text }) {
                this.text += text + "\n";
                this.feedbackElem.setValue(this.text);
                //this.feedbackElem.setValue(this.text.replace(/\n/g, "\n"));
            };

            printErr({ text }) {
                this.text += text + "\n";
                this.feedbackElem.setValue(this.text);
                //this.feedbackElem.setValue(this.text.replace(/\n/g, "\n"));
            };
        }   

        let clang = new ProcessUI('clang', compiler);
        let runtime = new ProcessUI('runtime', feedback);
        let clangOutput = null;

        clang.process.print({ text: 'Preparing clang...\n\n' });
        clang.process.workerCompileDone = args => {
            correctArea.innerHTML = "";
            clangOutput = args.result;
            clang.process.setStatus('ready', 'Ready', false);
            if (args.result) {
                let s = "Compiled successfully: wasm size: " + args.result.length + ' bytes\n';
                compiler.setValue(s);
            }
        };    

        runtime.process.print({ text: 'Preparing runtime...\n\n' });
        runtime.process.workerRunDone = args => {
            runtime.timesRun++;
            if (runtime.timesRun < 3) {
                // For some reason it needs to be run more than once
                // for the text to fully update
                runtime.resetText();
                runtime.process.worker.postMessage({
                    function: 'run',
                    wasmBinary: clangOutput,
                });
            }
            else {
                runtime.process.setStatus('ready', 'Ready', false);
                feedback.setValue(runtime.text);
                checkAnswer();
            }

        };
        runtime.process.workerDebugReplaceBinary = args => {
            console.log('new size:  ' + args.newBinary.length + '\n');
            clangOutput = args.newBinary;
        };
        runtime.process.workerSendRun = function () {
            runtime.process.setStatus('busy', 'Running');
            runtime.process.postMessage({
                function: 'run',
                wasmBinary: clangOutput,
            });
        };

        clang.process.start();
        runtime.process.start(); 

        function getCodeText() {
            let codeText = "";
            for (var i in editors) {
                codeText += editors[i].getValue();
                codeText += "\n";
            }
            codeText += mainEditor.getValue();
            return codeText;
        }

        let compiledCode = "";

        function compile() {
            correctArea.innerHTML = "<font color = blue>Compiling...</font>";
            if (clang.state !== 'ready') {
                alert("Compiler not finished loading yet");
                return;
            }
            clangOutput = null;
            clang.process.setStatus('busy', 'Running');
            let codeText = getCodeText();
            compiledCode = codeText;
            console.log(codeText);
            clang.process.worker.postMessage({
                function: 'compile',
                code: codeText,
            });
        }
        {% endif %}

        {% if page.language == "sql" %}async {% endif %}function runCode() {
            try {
                {% if page.language == "cpp" %}
                runtime.timesRun = 0;
                correctArea.innerHTML = "<font color = blue>Running...</font>";

                let codeText = getCodeText();
                
                if (!(codeText === compiledCode)) {
                    compiler.setValue("Warning: It looks like you edited code since you last compiled\nBe sure to compile again before running!");
                }
                runtime.process.setStatus('busy', 'Running');
                if (clangOutput === null) {
                    alert("Need to compile code first!");
                }
                else {
                    runtime.resetText();
                    runtime.process.worker.postMessage({
                        function: 'run',
                        wasmBinary: clangOutput,
                    });
                }                
                {% else %}
                let editorText = "";
                for (var i in editors) {
                    editorText += editors[i].getValue();
                    editorText += "\n";
                }
                {% if page.language == "python" %}
                let student_code = editorText + mainEditor.getValue();
                feedbackString = run_python_code(student_code);
                feedback.setValue(feedbackString);    
                {% elsif page.language == "sql" %}
                feedbackString = await doSql(editorText, mainEditor.getValue()); 
                console.log("Got feedback string: " + feedbackString);    
                feedback.setValue(feedbackString);    
                {% else %} <!-- Java -->
                let code = makeCodeJavaProcessing(editorText, mainEditor.getValue());
                instance = new Processing(canvas, code);
                {% endif %}
                {% endif %}
                
                checkAnswer();
            } catch(err) {
                correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
                feedback.setValue("Error: " + err.message);
            }                
        }
        </script>        
        
    {{ content }} 
  </div>
</div>